 body {
     display: flex;
     justify-content: center;
}
 html {
     font-family: 'Open Sans', sans-serif;
}
 #container {
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;
     margin: 15px;
}
 #container img {
     width: 100%;
}
 #header .logo {
     width: 70px;
}
 h1 {
     font-size: 40px;
}
 h2 {
     margin-top: 10px;
}
 h1, h2 {
     color: #2d3c49;
     margin-top: auto;
     margin-bottom: auto;
}
 .titles {
     font-size: 25px;
     line-height: 0px;
}
 #container2 {
     width: 100%;
}
 #container2 img {
     width: auto;
     height: auto;
     max-width: 150px;
     max-height: 150px;
}
 #header {
     margin-bottom: 5px;
     margin-bottom: 5px;
     padding-top: 5px;
     padding-bottom: 5px;
}
 .project {
     border-bottom: 1px solid #ccc;
     width: 100%;
     color: #2d3c49;
}
 .mtm {
     margin-top: 20px;
}
 .section {
     font-size: 25px;
     color: #7d97ad;
}
 a:link {
     text-decoration: none;
     color: #02b3e4;
}
 a:visited {
     text-decoration: none;
     color: #7d97ad;
}
 a:hover {
     text-decoration: underline;
     color: #02b3e4;
}
 @media screen and (min-width: 600px) {
     #container2 img {
         width: auto;
         height: auto;
         max-width: 250px;
         max-height: 250px;
    }
     #header {
         display: flex;
         justify-content: space-between;
         align-items: center;
         width: 100%;
         border-bottom: 1px solid #7d97ad;
         margin-bottom: 10px;
         padding-top: 10px;
         padding-bottom: 10px;
    }
     .text {
         display: flex;
         flex-direction: column;
         text-align: right;
    }
     h1 {
         margin-bottom: auto;
         margin-top: auto;
    }
}
 @media screen and (min-width: 900px) {
     #container2 img {
         width: auto;
         height: auto;
         max-width: 550px;
         max-height: 550px;
    }
     #container {
         width: 1000px;
    }
     #container2 {
         display: flex;
         text-align: center;
         align-content: center;
         width: 100%;
    }
     #header {
         border-bottom: 1px solid #7d97ad;
         width: 100%;
         margin-bottom: 20px;
         padding-top: 20px;
         padding-bottom: 20px;
    }
     .project {
         width: 33.3%;
         position: relative;
         border-bottom: 0px solid;
         width: 100%;
         color: #2d3c49;
    }
     #container2 img {
         height: 250px;
         width: auto;
    }
}
